/* Main content box is gray */
.main-content {
    background-color: #afb4b9;
    flex-grow: 1; /* Gray background for the main content */
    padding: 20px;
    width: 100%;
    border-radius: 8px; /* Optional, adds rounded corners to the content box */

}

/* Content section inside the main content will have a white background */
.content-box {
    background-color: white; /* White background for actual content */
    padding: 20px;
    border-radius: 8px;
    padding: 20px;
}

.p{
    color:red;
}
/* Footer styling */
.footer {
    background-color: #6c757d; /* Gray background for the footer */
    padding-top: 20px;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: 40px;
}

/* Make sure the body takes up full height */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the footer stays at the bottom */
}

/* Content section grows to fill available space */
